[2012-08-29 01:44] bemosior opened #1 "Populate Initial Project"
Populate the initial project files, including:

MySQL Installation Script
Credential Generation Script
Credential Retrieval Script

[2012-08-29 03:46] #1 closed, assigned to bemosior

[2012-08-29 03:47] bemosior opened #2 "Add try/catch handling for PDO exceptions."
The PDO object isn't being error-handled properly. The mysqlinstaller.php file is ok, but the core files need try/catch blocks.

[2012-08-29 03:49] bemosior opened #3 "Mailing Options"
A configuration option should dictate the possibility of using the mailing feature (input an email address, recipient gets the link instead of user). Also, appropriate handling should be set up for displaying (or not displaying) the email field and handling the landing page for the credential creator.

[2012-08-29 03:51] bemosior opened #4 "Authentication Options"
A configuration directive should be added to allow for Apache authentication (at first, maybe others next?). Proper handling for user field display should be added. The mailing logic will need to accommodate a user field as well. It's recommended that Authentication be used whenever the mailing option is configured.

[2012-09-04 08:04] #2 closed, assigned to bemosior

[2012-09-04 08:05] bemosior opened #5 "Add "copy to clipboard" functionality"
Add "copy to clipboard" functionality, possibly using "clippy": https://github.com/mojombo/clippy

[2012-09-04 08:06] bemosior opened #6 "Properly comment everything"
Go through all the code and properly comment functions, etc.

[2012-09-04 13:12] bemosior opened #7 "Fix max length for a credential"
Fix max length for a credential in the database. Only first 256 characters (I think) end up getting stored currently, which makes it useless for communicating cert information.

[2012-09-08 22:18] #7 closed, assigned to bemosior

[2012-09-08 22:20] bemosior opened #8 "Fix lost newlines"
Entered credential newlines are ineffective, either because of the encryption or the lack of conversion from \n to <br/>.

[2012-09-10 02:18] #8 closed, assigned to bemosior

[2012-09-10 02:20] bemosior opened #9 "Fix sanitization functions to use case/switch"
The sanitization functions are currently using global variables (bad). Fix that, and utilize case/switch for sanitization types.

[2012-09-10 02:25] bemosior opened #10 "Use array for prompting user input at pwlink"
Build an array of elements to be displayed to the user so we can process sanitization based on what elements exist.

[2012-09-10 02:41] bemosior opened #11 "Allow more flexible time options (minutes, hours, days, etc.)"
Allow more flexible time options (minutes, hours, days, etc.) when creating a link.

[2012-09-10 05:02] #5 closed, assigned to bemosior

[2012-09-13 06:01] #9 closed, assigned to bemosior

[2012-09-13 06:03] #6 closed, assigned to bemosior

[2012-09-13 06:26] bemosior opened #12 "Change expire logic to remove record instead of setting NULL."
When a record is expired, it should be removed from the table completely instead of setting to NULL.

[2012-09-19 03:56] bemosior opened #13 "Move the creation and retrieval functionality into a single page"
Per suggestion from [barnacle-carnival](https://github.com/barnacle-carnival/PHPasswordPusher/commit/ef0e5330e378d65ab38de1a760ee70a3fa09c9b1#commitcomment-1853235), move the creation and retrieval functionality into a single page. This should simplify both development and use.

[2012-09-19 04:00] bemosior opened #14 "Move the majority of include files outside of the web directory"
Per suggestions from [barnacle-carnival](https://github.com/barnacle-carnival/PHPasswordPusher/commit/ef0e5330e378d65ab38de1a760ee70a3fa09c9b1#commitcomment-1853235),
- Move the majority of include files outside of the web directory
- Move the sensitive configuration directives to the non-web directory

[2012-09-19 04:06] bemosior opened #15 "Add in barnacle-carnival's DB enhancements"
[barnacle-carnival](https://github.com/barnacle-carnival) forked the project with [some DB enhancements](https://github.com/barnacle-carnival/PHPasswordPusher/commit/ef0e5330e378d65ab38de1a760ee70a3fa09c9b1). Add in the code to prevent race conditions and increase security.

[2012-09-19 04:52] #12 closed, assigned to bemosior

[2012-09-19 05:19] #13 closed, assigned to bemosior

[2012-09-30 05:37] #15 closed, assigned to bemosior

[2012-09-30 07:04] #3 closed, assigned to bemosior

[2012-09-30 07:06] bemosior opened #16 "Enhance email functionality: SMTP Server"
Add functionality to enable the use of an external SMTP server.

[2012-09-30 07:42] #4 closed, assigned to bemosior

[2012-09-30 07:48] bemosior opened #17 "General code cleanup prior to 1.0 release"
Clean up code, standardize 'require' statements, etc.

[2012-10-05 07:24] bemosior opened #18 "Fix clipboard functionality for Firefox"
Fix clipboard functionality for Firefox

[2012-10-22 05:24] #18 closed, assigned to bemosior

[2013-01-14 08:37] #14 closed, assigned to bemosior

[2013-01-14 08:38] #17 closed, assigned to bemosior

[2013-01-14 08:39] #10 closed, assigned to bemosior

[2013-01-14 08:48] bemosior opened #19 "Help Icons"
Something to consider is the inclusion of small, clickable help icons near the fields on the credential form to explain what each field is and how it's used. Perhaps the "icon-question-sign" in the Twitter Bootstrap glyphicons? http://twitter.github.com/bootstrap/base-css.html#icons

[2013-01-14 09:30] #11 closed, assigned to bemosior

[2013-01-14 09:50] bemosior opened #20 "Delete button on credential retrieval page"
A delete button to proactively delete the credential should be available on the credential retrieval page.

[2013-01-14 10:25] #20 closed, assigned to nobody

[2013-01-14 14:05] bemosior opened #21 "Allow link creator to disable recipient delete capabilities"
Allow link creator to disable recipient delete capabilities.

Checkbox.

[2013-01-18 22:03] bemosior opened #22 "MySQL Install Script Tidy"
The tidy event only nulls the data every 5 minutes if it's expired.

This needs to be changed to delete the data and perhaps run every 1 minute.

[2013-01-18 22:05] bemosior opened #23 "Change ID generation from MD5 to a better algorithm"
Change ID generation from MD5 to a better algorithm.

[2013-01-19 21:10] #23 closed, assigned to bemosior

[2013-01-31 17:42] danielmsantana opened #24 "Multiple Languages"
First of all, thank you for this great software!
Can you add support for multiple languages? It would be great.

[2013-03-08 02:50] bemosior opened #25 "Ditch the external uuid library."
The uuid-php library is prohibitively difficult to install. Replace its functionality with perhaps http://php.net/manual/en/function.uniqid.php

[2013-03-19 06:57] #25 closed, assigned to bemosior

[2013-03-19 08:30] #24 closed, assigned to bemosior

[2013-03-20 03:50] #22 closed, assigned to nobody

[2013-03-24 23:51] #16 closed, assigned to bemosior

[2013-05-20 20:42] epkev opened #26 "blank create page"
I recently set PHPasswordPusher on a centos 6 vm. I can bring up the main page and type in a password to share, but when I submit, the create page is blank. Any insight would be appreciated.

![untitled](https://f.cloud.github.com/assets/4482792/538524/c2c6ab10-c18d-11e2-9db2-ab6e12fb3c43.png)

-Thanks

[2014-11-06 06:26] anudeep-snap opened #27 "App is not able to generate links"
Hi ,
We have installed app on Ubuntu 14.04 , able to see the home screen but app is not able to generate any links.

Any help would be appreciated...

[2014-11-13 01:21] #27 closed, assigned to nobody

[2015-04-30 03:03] vaindil commented on #26
@epkev Were you able to solve this? I know this was two years ago, but I'm facing the same problem at the moment.

[2015-04-30 04:06] bemosior commented on #26
Oh wow. Software that I haven't looked at in years. This should be interesting.

I set up a quick Centos 6.6 Vagrant VM and ran through the install steps. I see the same problem.

[2015-04-30 04:07] bemosior commented on #26
And in the apache error_log:

[code]

[2015-04-30 04:12] bemosior commented on #26
Edit `/etc/php.ini` and add `extension=mcrypt.so` to fix the error. I'll update the documentation.

Let me know if that fixes it for you as well.

[2015-04-30 04:16] #26 closed

[2015-04-30 04:18] bemosior commented on #26
I suspect this was the same issue experienced in #27.

[2015-05-01 17:52] vaindil commented on #26
Ah, perfect, thanks! Just a note though--I believe the "correct" method is to run `php5enmod mcrypt` rather than manually adding the extension to `php.ini`. It'll update things as appropriate and throw an error if `mcrypt` doesn't exist. I also prefer this method because my `php.ini` file (Ubuntu 15.04) is actually in `/etc/php5/apache2`. Just a thought. Thanks again!

[2015-05-01 23:40] bemosior commented on #26
I was not aware `php5enmod` was even a thing. I'll update the documentation. Thanks!

[2015-05-29 05:47] bemosior commented on #19
Thanks @vaindil. Added translation to the tooltips via 1b2146da56390cdab605e1e924f10a6fc23d0b9e.

[2015-05-29 05:47] #19 closed

[2015-05-29 05:48] bemosior opened #29 "Add 'es' translation for tooltips, introduction."
The Spanish language translation does not have values for tooltips or the introduction.

[2015-05-29 05:49] bemosior commented on #19
Added #29.

[2015-06-13 20:58] vaindil opened #31 "mcrypt() key length is enforced starting with PHP 5.6"
As of PHP 5.6.0, the [`mcrypt_encrypt()`](https://php.net/manual/en/function.mcrypt-encrypt.php) and [`mcrypt_decrypt()`](https://php.net/manual/en/function.mcrypt-decrypt.php) functions no longer accept key values that are inconsistent with the chosen cipher (`MCRYPT_RIJNDAEL_256` in this case). No visible error is ever displayed by the program--everything works correctly, but when accessing the

[2015-06-13 21:24] bemosior commented on #31
First, I'd like to re-evaluate MCRYPT_RIJNDAEL_256 for this purpose (it's probably still a reasonable choice, but I would like to do some reading on the subject).

Second, I think that good application behavior here would be to truncate the key to the next-lowest appropriate length so that the system still functions. Inexplicably non-functional systems are just frustrating to work with, though I a

[2015-06-13 21:58] vaindil commented on #31
All good points. This is why I made an issue for it rather than a pull request like with my last edits.

I found [this post](https://defuse.ca/secure-php-encryption.htm) that has some good information and links to [this repo](https://github.com/defuse/php-encryption) symmetric encryption library. It looks pretty good to me, though it would bump PHPWP's required PHP version from 5.3 to 5.4. (Not a

[2015-06-13 22:24] bemosior commented on #31
Thanks for the links. I'll do some reading as soon as I can, though I should mention that I'm hesitant to dump support for php 5.3, since 5.4 isn't available by default in CentOS 6 (and I imagine RHEL 6).

You've provided a very good argument for loud failure. Let's go that route. I'll try to catch up on the options later this weekend or next week and report back here before making any major chang

[2015-06-13 23:38] vaindil commented on #31
Well, I wasn't expecting that. Yes, I'll only modify `develop` and we can go from there. One question about environment requirements--the project currently lists support for CentOS 5, which I'll admit I've never worked with before (I started with 6). I have no problem with that, since 5 is still being maintained through 2017, but I'm going to reimage a VPS for testing (I don't use it anyway, figur

[2015-06-13 23:50] bemosior commented on #31
Yeah let's keep supporting CentOS 5 if possible until it's dropped, but we should probably test 6 as well. I can certainly take care of that part, if you'd like. I really like the local environment paradigm provided by Vagrant. Looks like there are a couple existing boxes for CentOS already: https://atlas.hashicorp.com/boxes/search?utf8=%E2%9C%93&sort=&provider=&q=centos

[2015-06-13 23:53] vaindil commented on #31
No problem. After I posted that I discovered my provider actually only has 6.4 and up available to image, so I imaged 6.6 and will install a local copy of 5 for testing as well.

[2015-06-16 01:38] bemosior commented on #31
Based on these articles and others, I learned that with `MCRYPT_RIJNDAEL_256`, the `256` refers to the block size, not the key length. `MCRYPT_RIJNDAEL_128` is essentially `AES`, but both `MCRYPT_RIJNDAEL_128` and `MCRYPT_RIJNDAEL_256` can use `128`, `192`, or `256`-bit keys. `AES-128/192/256` does actually refer to the key length.

By using `MCRYPT_RIJNDAEL_256`, we're not doing anything wrong pe

[2015-06-16 02:01] bemosior commented on #31
It also looks like the project uses `MCRYPT_RAND` for IV creation, and the [current default](http://php.net/manual/en/function.mcrypt-create-iv.php) is `MCRYPT_DEV_URANDOM`. I think we could make that switch, since the randomness should be better than `MCRYPT_RAND` and nonblocking, as opposed to `MCRYPT_DEV_RANDOM`.

[2015-06-17 01:58] StevenPatz commented on #21
is still needed?  Looking for a project to do in my spare time and would love to have a go at this feature.

[2015-06-17 02:51] bemosior commented on #21
Sure! If you'd like to take a look at the `develop` branch and file a PR, we can go from there. Thanks for offering help!

[2015-06-19 03:42] MagicFab opened #32 "Small typo in description"
"It operates on the principal..." => "It operates on the principle..."

[2015-06-19 04:23] #32 closed

[2015-06-19 04:23] bemosior commented on #32
Thanks!

[2015-06-22 12:49] vaindil commented on #31
Sorry for the the very late reply, I should be able to reply much more quickly from now on!

I agree with using `MCRYPT_RIJNDAEL_128`. It doesn't take any work to make the change, and saying we use `AES` is more publicly recognizable than otherwise for anyone who cared to take our word for it (though anyone who _really_ cares will look into the source code anyway, but still). I don't think we're g

[2015-06-22 19:57] MagicFab opened #33 "In install.php, don't assume host=localhost"

[2015-06-22 19:58] MagicFab opened #34 "In install.php, if database exists, the installer stops"
The installer may not assume the database doesn't already exist. It currently stops if it doesn't.

[2015-06-22 22:39] bemosior commented on #33
@MagicFab I'm inclined to think that the short length and relative clarity of `install.php` lends itself to modification in cases where the database does not listen on the loopback interface. Do you have an idea of an alternative? Or do you think we need to include that in the documentation?

[2015-06-22 22:43] bemosior commented on #34
We could probably do more to make the install process idempotent. Any suggestions?

[2015-06-22 23:07] bemosior commented on #31
Don't apologize! I'll see what I can do to get started.

[2015-06-23 05:12] MagicFab commented on #34
I have no clue what you mean in this context (and it's 1AM) :) Could you rephrase?

[2015-06-23 10:49] bemosior commented on #34
"Idempotent" in this case would mean being able to run the install process multiple times with the same parameters and not have an alternate outcome. Your example for this issue is: Even if the database exists, still perform the remaining installation. We would want to take that approach for each step in the installation process.

I think we'd end up leveraging the `IF NOT EXISTS` part described i

[2015-06-23 17:11] MagicFab commented on #34
I don't expect the tables to already exist but I think it's fair to continue after a proper database/permissions check. In the end it's just validation, if everything needed already exists, then the install becomes a validation checklist. This issue report would be about the database being properly setup, otherwise creating it and advising in a proper message when/if something is missing for this

[2015-06-23 17:13] MagicFab commented on #33
I agree, rephrasing, I think localhost should not be hardcoded (even if only a few lines below), but instead presented as a variable at the beginning.

Re: documentation, no, the script should be self-documenting at least for this part!

[2015-06-23 18:20] bemosior commented on #33
Ok, that's a reasonable approach!

[2015-06-23 18:23] bemosior commented on #34
Installer as Validator is easy to get behind, and idempotence is a prerequisite. It's probably good timing, too. I'd like to be able to add support for Postgres, so making each step parameterizable is best.

[2015-06-23 18:30] bemosior opened #35 "Support PostgreSQL Database"

[2015-06-23 22:46] dnichk opened #36 "Data at rest"
How is the data protected when at rest? Is it encrypted in the database?

[2015-06-24 00:24] bemosior commented on #36
Short answer: Secrets are encrypted, link UUIDs (used for credential lookup) are hashed.

Long answer:
1. The secret is grabbed from the user's POST and the encryption function is called: [code](https://github.com/bemosior/PHPasswordPusher/blob/master/pwpusher_public/pw.php#L91)
2. The secret is encrypted and then base64-encoded: [code](https://github.com/bemosior/PHPasswordPusher/blob/master/pwpu

[2015-06-24 00:32] bemosior commented on #36
I should also mention that encrypted entries are evaluated for the necessity of their existence through a [scheduled task](https://github.com/bemosior/PHPasswordPusher/blob/develop/install.php#L21) run every minute, when a [new secret is inserted](https://github.com/bemosior/PHPasswordPusher/blob/master/pwpusher_private/database.php#L49), and when [a lookup occurs](https://github.com/bemosior/PHPa

[2015-06-24 14:03] MagicFab commented on #34
Perhaps open a separate ticket as feature request or enhacement for PG or similar.

[2015-06-24 14:04] MagicFab commented on #36
This would be very useful in a FAQ (or README at least).

[2015-06-27 17:51] bemosior opened #37 "MCRYPT_MODE_ECB is insecure."
`MCRYPT_MODE_ECB` will encrypt the same block the same way each time, meaning it is much more susceptible to attack (patterns can emerge). Furthermore, I discovered that the IV is completely ignored by ECB and the same initialization vector needs to be used for decryption, so the current implementation is both misleading and useless.

I intend to switch to `MCRYPT_MODE_CBC` and store the IV at the

[2015-06-27 17:52] bemosior commented on #31
I found another issue with the implementation regarding the IV and the mcrypt mode: #37

[2015-06-27 19:10] bemosior opened #38 "v2 Planning"
With the current project layout, making changes can be a frustrating process. I would like to shift towards a rewrite under a more standard framework (I'm biased towards Laravel v5.0).

We could have standard support for:
* [Dependency Management](http://laravel.com/docs/5.0#install-composer) (via Composer)
* [Encryption](http://laravel.com/docs/5.0/encryption)
* [Translations](http://laravel.com/

[2015-06-27 19:13] bemosior commented on #38
Laravel v5.0 does require a minimum PHP of 5.4. My intention would be for more constrained systems to utilize PHPasswordPusher v1. We could continue to maintain both versions independently.

[2015-07-07 17:27] dnichk opened #40 "Links expire prematurely."
I have a set-up, and I am not sure if I did something wrong, but say for example set the expiration to be 5 days and 5 views, but then the link is not viewed say for 40 minutes - the link comes up a "expired".

Did I miss something in the scheduling requirements or the like?

[2015-07-07 17:33] vaindil commented on #40
This was just fixed in #39. We'll push to the master branch in the near future, there are a few things to be updated. Alternatively, you can [make the change yourself](https://github.com/bemosior/PHPasswordPusher/commit/37a06676bd62baf9cfa0b541d6e85e5dceac6841), it's a quick fix.

Sorry about that!

[2015-07-07 17:34] #40 closed

[2015-07-07 20:00] dnichk commented on #40
Awesome service. Thanks for the quick fix. I'll manually do it to get the app back in use. 
What the best way to update future releases? Just replace files?

Regards.

Dustin Krysak
Sokin Systems

Need help?
Please eMail: support@sokinsystems.zendesk.com

On Tue, Jul 7, 2015 at 10:33 AM -0700, "Steven Hall" <notifications@github.com> wrote:

This was just fixed in #39. We'll push to the master bra

[2015-07-07 20:25] bemosior commented on #40
Thanks @vaindil!

@dnichk Unfortunately we don't have a great upgrade path/process in place yet. Copying over files is the best way for now.

[2015-07-09 23:41] vaindil commented on #37
It [looks like](http://www.daemonology.net/blog/2009-06-11-cryptographic-right-answers.html) `ctr` is actually the best mode to use (naturally, [it's not documented by PHP](https://stackoverflow.com/questions/5108408/php-mcrypt-which-mode)). I'll look into implementing this.

[2015-07-14 14:49] vaindil opened #41 "Flash Support"
We currently use [ZeroClipboard](https://github.com/zeroclipboard/zeroclipboard) to allow automatic copy/pasting of the secret link, but is this something we want to continue to support? I ask because some of the major players are moving towards blocking it.

 * Facebook's chief of security [said](http://www.theguardian.com/technology/2015/jul/14/facebook-end-adobe-flash-firefox-blocks-hacking) th

[2015-07-14 14:53] bemosior commented on #41
:+1: Having auto-copy behavior is kind of unintuitive anyway. Auto-selecting the text seems a reasonable approach.

[2015-07-17 19:18] dnichk commented on #41
I say kill it. It's not overly hard to select text anyways. :)

[2015-07-17 19:21] bashfulrobot opened #42 "Display information related to remaining time/views"
Please let me know if there is a better place for this.... :)

 •    When a user clicks on a link, I think it would be helpful if there was additional info displayed about the time/number of views restrictions on that credential - that way, users understand when/how a credential will expire (the notion of "least surprise" ).
• For credentials that are only viewable once, I think there should be sp

[2015-07-17 19:30] vaindil commented on #42
These are great suggestions, ones that I've thought of myself as well but hadn't gotten around to. I don't see a security risk with exposing the number of views remaining or the amount of time before it expires, and you're right, they would be helpful.

The automatic copying is being addressed in #41; it will be removed in an upcoming push.

I'll rename the post so it has a more appropriate title

[2015-07-17 19:32] vaindil commented on #37
(marked as a bug due to the nature of the project--if we're trying to make it as secure as possible, a security problem is definitely a bug in my mind)

[2015-07-17 19:36] bemosior commented on #42
:+1: to displaying time/views info, provided there's a configuration option to turn each item off.

[2015-07-17 21:07] dnichk commented on #42
@bemosior - I am just looking at the config file (in the priv directory), and I do not see this option. The closest I see is the display when creating the link.... not when the receiver is picking up the password.

maybe I'm missing something?

[2015-07-17 21:09] bemosior commented on #42
Oh, I'm just saying that I'd like to make sure we create that option. :smile:

[2015-07-18 03:47] #33 closed

[2015-07-18 03:50] vaindil commented on #34
a734529 only partially addresses this, shouldn't have closed this.

[2015-07-19 10:21] #36 closed

[2015-07-19 10:25] bemosior commented on #31
@vaindil With #37 created as a separate issue, I think this particular issue can be closed. Did I miss anything?

[2015-07-19 10:40] bemosior commented on #29
I think the intro (the only missing translation) is optional (almost redundant) at this point.

[2015-07-19 10:40] #29 closed

[2015-07-19 10:41] bemosior commented on #35
Encompassed by #38.

[2015-07-19 10:41] #35 closed

[2015-07-19 15:54] vaindil commented on #31
Looks good to me.

[2015-07-19 15:54] #31 closed

[2015-07-19 15:58] bemosior commented on #31
Thanks, @vaindil, for everything you've been doing! :+1:

[2015-07-19 16:59] vaindil commented on #34
Due to the nature of the of the project, I think the proper way to proceed would be with the change I started, but to check the DB's/table's configuration rather than just dropping them if they already exist. (Checking and only making the necessary changes could break things for previous users. I'll write something in the documentation or a wiki page about it; leaving this open until then.)

[2015-07-23 22:50] vaindil commented on #34
Actually, after reviewing the available options in PHP (primarily [`getColumnMeta`](https://secure.php.net/manual/en/pdostatement.getcolumnmeta.php)), it seems the best way would just be to check the database/table info as in a734529. There's no guarantee that a specific version of MySQL or a particular driver would return the same results to allow for proper verification each time. I'll leave the

[2015-08-02 00:59] bemosior commented on #38
Parallel development has begun in the `develop-v2` branch.

[2015-08-02 01:39] bemosior commented on #38
I started with Laravel v5.1, which does have a PHP requirement of >=5.5.9, which means those constrained to lesser PHP versions will be stuck with the v1 codebase.

I don't want this to be one of those situations where I've made an arbitrary decision that has more serious consequences later... My opinion has changed here. I want to write better software, and right now that means I would like to us

[2015-08-02 21:46] vaindil commented on #38
I completely agree with the idea. No problem maintaining an old version that may get feature updates every now and then, but in general will just be maintained for people who can't upgrade. I want to leverage the latest stable packages that are available and go from there.

[2015-08-04 13:49] macnetdaemon opened #43 "Query : Best way to update PHPasswordPusher (Sorry - not a new issue)"
Benjamin (et al),

    Please let us know the best way to submit a quick query like this in the future. I hate to fill your dev. space with queries that should be sent elsewhere.

    What is the best way to update files from this project? Download the entire zip or individual files as they become available?

Thanks for your time,
--pw

[2015-08-04 19:57] bemosior commented on #43
Given the small scale of this project, it's absolutely ok to use the issues for questions!

I think someone else asked this recently, but I can't seem to find it. The unfortunate truth is that when I originally developed the project, I had not considered that people would be using the software let alone be needing to update it. As a result, this process is harder than it should be.

After thinking

[2015-08-04 19:58] bemosior opened #44 "Release Planning (breaking changes in the v1 branch)"
@vaindil #43 raises an interesting question. Technically speaking, our recent changes on the v1 branch would break many existing installations. Per [semver](http://semver.org/), our changes not being "backwards compatible" excludes them from being released under a minor version. That means our next release of the code currently in the v1 branch should probably be as v2, which pushes the rewrite wi

[2015-08-04 19:59] bemosior commented on #38
Ok, thanks for helping me work through this issue!

[2015-08-04 19:59] #38 closed

[2015-08-04 20:43] bemosior commented on #42
I've been playing with this idea in the [rewrite branch](https://github.com/bemosior/PHPasswordPusher/commit/2b332c913496763d6aa8bdb05c11fbac6ac84a18) using Moment.js.
<img width="222" alt="screen shot 2015-08-04 at 4 39 50 pm" src="https://cloud.githubusercontent.com/assets/2106845/9072153/880133a0-3ac7-11e5-8605-afe65eda7a27.png">

We could probably do something similar without too much fuss on

[2015-08-04 20:45] bemosior commented on #42
@vaindil If you haven't had a chance to work on this yet, mind if I steal it?

[2015-08-05 15:53] macnetdaemon commented on #43
Thanks Benjamin,

    We are actually using this project in our district. It's proven very handy behind our firewall. Your work is appreciated.

Many thanks,
Paul

Sent from my iPhone

[2015-08-05 22:04] bemosior commented on #43
Great to hear! Keep an eye out for the next major versions. :) Many great improvements coming about in the rewrite.

Feel free to reply back if you run into any specific issues. We can reopen and take a look.

[2015-08-05 22:04] #43 closed

[2015-08-07 05:47] bemosior commented on #34
@vaindil I think your changes maintain a good balance between value and effort investment. For the Laravel rewrite, we can take advantage of a more standard database setup mechanism (migrations, etc.) that doesn't have these issues (and supports MySQL, PostgreSQL, SQLite, and SQL Server). Thanks for your work on this. :)

[2015-08-07 05:47] #34 closed

[2015-08-07 07:45] bemosior commented on #37
An interesting problem in the rewrite, Laravel 5.1 only seems to support `AES-256-CBC`. I'll take a shot at implementing `CTR` in the v1 branch, though.

[2015-08-08 07:31] bemosior commented on #44
I've pushed the rewrite to `develop-v3`, since I'm pretty sure this is what we need to do version-wise.

As far as integration of the rewrite, we either need to isolate legacy development on a release branch or consider bumping the rewrite into its own project, since there's no common ancestry (PHPasswordPusher is a goofy name, too).

In the case of the former, we could rename `master` to `master-

[2015-08-08 21:36] bemosior commented on #44
Much of the external advice I've been getting on this point is to push the rewrite into its own repository, since there's no common ancestry. I think I might do that then, since that allows us to maintain both version of the project independently. PHPasswordPusher can be for those who are confined to using older versions of PHP, and whatever the other repository is can sport the latest and greates

[2015-08-08 21:47] vaindil commented on #44
I think that makes a lot of sense. I can work on/push the intermediate changes to v2 (and keep that on a branch here with a wiki article for migrating from v1 to v2), then the new one (v3) as its own repo sounds good.

[2015-08-08 22:05] bemosior commented on #44
Ok great. We can keep the typical `develop`/`master` branching strategy then for v2 in this repository, using tags to distinguish the v1/v2 releases.

[2015-08-09 00:28] bemosior commented on #44
Thus, [Agrippa](https://github.com/unicalabs/agrippa) is born (name based on [the art of William Gibson](https://en.wikipedia.org/wiki/Agrippa_(A_Book_of_the_Dead)) by the same name).

I'll open another issue about documentation, specifically to direct those with constrained environments to this project and those who can adopt the latest version of PHP to Agrippa.

[2015-08-09 00:28] #44 closed

[2015-09-07 07:14] bemosior commented on #37
I'm completely open to reconsidering CTR, but I think I've been successfully scared into sticking to CBC. http://sockpuppet.org/blog/2013/07/22/applied-practical-cryptography/

CBC is more likely to be robust if used incorrectly (I'm not a cryptography expert, therefore my confidence in any implementation is very low), and I don't have appropriate mechanisms in place to store a counter for the IVs

[2015-09-07 07:14] #37 closed

[2016-05-19 02:49] Bobcui001 commented on #31
What are the effects of the version?

[2016-05-19 11:11] bemosior commented on #31
@Bobcui001, could you clarify the question? The version of what?

[2016-09-15 18:32] vaindil commented on #41
Fixed with [clipboard.js](https://github.com/zenorocha/clipboard.js) in d7e7514.

[2016-09-15 18:32] #41 closed

[2016-12-09 12:51] survietamine opened #47 "copy to clipboard button"
Copy link to clipboard button doesn't work for us. Bowser = Firefox 50.0.2. Tested on linux (archlinux) and Windows.

[2016-12-09 12:54] survietamine opened #48 "not fully translated"
The languages files don't handle messages when the link is created "Submitted credentials will expire and be erased according to the time or view limit, whichever occurs first." and "Please, NEVER leave credentials where they can be easily accessed by others."

[2016-12-09 13:58] #47 closed

[2016-12-11 01:19] bemosior commented on #48
@survietamine Take a look at [pwpusher_private/config.php](https://github.com/bemosior/PHPasswordPusher/blob/21a733a645783a87c52aab652b3d7efa701b398e/pwpusher_private/config.php) (near the bottom). I'm not sure why those message are there instead of in the languages file. For now, that's where you can change the message, but I'll leave this issue open until I can decide what to do.

[2017-10-10 20:56] bashfulrobot opened #50 "XSS Vulnerability"
Vulnerability was filed on our external bug bounty program (with my employer):

Issue
The XSS exists at https://xxxxx.xxxxxxxx.com/pw.php
and can undermine the security and purpose of pushpass. The problem
exists due to no sanitisation of the $_SERVER['PHP_SELF'] variable that is used in the page. Due
to the way PHP processes paths, a filename can have fake
directories appended to it without break

[2017-10-10 21:04] vaindil commented on #50
Will be able to grab this in a couple hours.

[2017-10-29 19:09] #50 closed

[2017-10-29 19:11] vaindil commented on #50
Sorry for the delay, should be good now.

[2018-05-22 19:10] MagicFab opened #52 "Demo site down at https://vaindil.pw/pwpushdemo"
The link to the demo doesn't work anymore.

[2018-11-13 17:05] nstall opened #53 "Having issues viewing password URL."
I got my password pusher site up and running but anytime I generate a link I cannot browse to it to see the password. I just get the site cannot be reached. Did I do something wrong somewhere? Any help would be appreciated.

[2018-11-13 17:12] vaindil commented on #53
What exactly is the error that you're getting? This is likely a configuration issue with your web server. Are you using apache or nginx?

[2018-11-13 17:15] nstall commented on #53
I am using apache. Its just a web error when I click the URL. It says "webserver ip address" refused to connect. This site can't be reached.

[2018-11-13 17:17] nstall commented on #53
The URL is also pointing to pw.php and then an ID. Could it be something with that file? Or the database?

[2018-11-13 18:41] thnilsen commented on #53
@nstall - A few questions for you in order to troubleshoot.

* which OS are you running under? I most certainly sounds like a configuration issue with Apache. If you're running Centos/RedHat it might be a SELinux issue.
* Is the server under your control, or is it a ISP hosted server?
* Do you have access the apache logs to see if there are any indicators of what the issue might be?
* What directo

[2018-11-13 19:14] nstall commented on #53
I am currently running under Ubuntu 16.04 LTS, The server is under my control it is hosted on a vm at the moment. Where would the apache logs be located at? (Sorry fairly new to Linux). The directory of pw.php is in  /var/www/pwpusher_public/pw.php.

[2018-11-13 19:21] thnilsen commented on #53
The log files under Ubuntu are at /var/log/apache2/.

Make sure apache is running by issuing the following command:

``systemctl status apache2``

and make sure it lists the apache2 daemon as active and running.

[2018-11-13 19:26] thnilsen commented on #53
Does this mean that you are actually able to fill out the form and generate the link, but when using the generated link it doesn't work? If that is the case it is most likely an issue with a missing php module or something. Look in the apache logs as suggested, but also look in /var/log/syslog to see if there are is anything relating to PHP .

[2018-11-13 19:30] nstall commented on #53
apache2 should be running as I can get to localhost and my pwpusher site. It is just the URL the pwpusher generates that I cannot get to. In the access log it shows this.

10.1.1.171 - [13/Nov/2018:1319:45 -0600 "POST /pwpusher/pw.php HTTP/1.1"  200 1757  "http://10.1.20.25/" "Mozillia/5.0 {WindowsNT 10.0; Win64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome 70.0.3558.77 Safari/537.6

[2018-11-13 19:37] thnilsen commented on #53
I think you will find the cause of the issue in /var/log/syslog

[2018-11-13 19:39] nstall commented on #53
Anything specific I might be looking for? If I upload my log could you take a look?

[2018-11-13 19:43] thnilsen commented on #53
Look for something like "PHP Parse Error" or anything with PHP and ERROR. I can review the log if you want. If you do attach the log, please also attach the /var/log/apache2/error.log as well if it exists.

[2018-11-13 19:49] nstall commented on #53
Here is the syslog.

[2018-11-13 19:51] nstall commented on #53
Here is the apache error log.

[2018-11-13 19:56] nstall commented on #53
Here are the logs.
[error.log](https://github.com/bemosior/PHPasswordPusher/files/2577815/error.log)
[syslog.txt](https://github.com/bemosior/PHPasswordPusher/files/2577816/syslog.txt)

[2018-11-13 21:22] nstall commented on #53
So here is something I found here is a link that it is giving me https://10.1.20.25/pwpusher/pw.php?id=bd1b41af-156b-44cb-85c1-d79d29fc22dc as soon as I take off the https:// and just have 10.1.20.25/pwpusher/pw.php?id=bd1b41af-156b-44cb-85c1-d79d29fc22dc it works. Is there a reason the https:// is messing the link up? Also just a side question now that I think about it. Can I make changes to the

[2018-11-13 21:48] thnilsen commented on #53
I found nothing in the two logs that would indicate any problems.
It sounds like it the SSL setup of your apache that's causing the issue.
If you try a different browser with the https://... url, does that still give the same error? Ubuntu should have generated at default certificate for Apache, so SSL should in principle work.

You can do the following command to make sure Apache is listening on

[2018-11-13 21:50] nstall commented on #53
Just a side question now that I think about it. Can I make changes to the config.php file on the fly or do I have to do something else first?

[2018-11-13 22:02] nstall commented on #53
Looks like default-ssl was not enabled however the pwpusher generates an https link and right now I can only get to it by http. Do I have to add something to my default-ssl.conf file to get https working?

[2018-11-13 22:06] thnilsen commented on #53
If you have enabled the ssl-config and reloaded apache, it should work since you have the pwpusher link in the default webroot directory (assuming you haven't changed the default configuration).
After you have enabled the default SSL config, reload apache with

`systemctl restart apache2`

[2018-11-13 22:09] nstall commented on #53
Yeah reloaded apache with the command still nothing. default-ssl.conf says the document root is /var/www/html. Do I need to change this to /var/www since that is where the pwpusher is located?

[2018-11-13 22:21] thnilsen commented on #53
Sorry my mistake. Yes, you should have the files and folders from your pwpusher_public folder in the document root folder.

[2018-11-13 22:23] thnilsen commented on #53
Yes, any change you save to the php files will normally be re-read the next time any of the public pages like pw.php is loaded.

[2018-11-14 16:05] nstall commented on #53
Ok so I got HTTPS working by creating an http.conf file and enabling it from that. However whenever I access the site I get your connection is not private NET::ERR_CERT_AUTHORITY_INVALID and I have to click advanced and proceed. Which would be a hassle for some users. Do I have to create a certificate of some sort?

[2018-11-14 16:28] thnilsen commented on #53
Good to hear you got it up and running.
The easiest way to fix the invalid SSL certs is to go with LetsEncrypt offering. They offer free certificates and can be installed pretty easily using the certbot utility. Start with installing certbot itself and take if from there.

`apt-get install certbot`

Here's a tutorial on how to set it up on Ubuntu 16.04 : https://www.digitalocean.com/community/tuto

[2018-11-14 20:03] nstall commented on #53
I got authentication working with the site but if I send the link the receiving user has to authenticate with apache. Is there a way to only make the creation page needed to be authenticated to? The logout button at the top of the page just says please close the browser when you click it which makes me think I do not have something set up correctly.

[2018-11-14 20:16] thnilsen commented on #53
The way the code works at the current version there is no easy way to have authentication active and  at the same time avoid to request for credentials to retrieve a secret.

I've been thinking of modifying the code by splitting the creation and retrieval into two separate PHP scripts to make that possible, but I've not gotten around to do so yet.

[2018-11-14 20:19] nstall commented on #53
Ok thanks for the info.

[2018-11-14 20:22] nstall commented on #53
So for CAS authentication it would work then? At least thats how it looks in the config.php file.

[2018-11-14 22:39] thnilsen commented on #53
I haven't tried CAS myself or reviewed the code related to it, so I can't say if it does or not. But you can always try it and see.

A patch to limit the creation of secrets to a range of IP subnets was suggested in #49 by spiridonovpolytechnic. If you look at my fork for this project it includes that ip whitelist feature as well as some other smaller fixes (including an XSS bug fix). My repo is a

[2019-01-18 21:56] #42 closed